@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins';
}
section{
	display:flex;
	justify-content: center;
	align-items: center;
	/*overflow-x:hidden; */
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 94.6vh;
	background: #222;
}
.container .box{
	transform-style: preserve-3d;
	animation: animate 20s linear infinite;
}
@keyframes animate{
	0%{
		transform: perspective(1000px) rotateX(0deg) rotate(25deg);
	}
	100%{
		transform: perspective(1000px) rotateX(360deg) rotate(25deg);
	}
}
.container .box span{
	position: absolute;
	color: #fff;
	font-size: 3.5em;
	white-space: nowrap;
	text-transform: uppercase;
	font-weight: 900;
	padding: 0 10px;
	background: linear-gradient(90deg, transparent, rgba(0,0,0,0.5), transparent);
	line-height: 0.76em;
	transform-style: preserve-3d;
	text-shadow: 0 5px 15px rgba(0,0,0,0.25);
	transform: translate(-50%,-50%) rotateX(calc(var(--i) * 22.5deg)) translateZ(106px);
}
.container .box span i:nth-child(1){
	font-style: initial;
	color: #ff246f;
}
.container .box span i:nth-child(2){
	font-style: initial;
	color: #12b5ff;
}
footer{
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
    font-weight: 600;
    background: #222;
}
footer span a{
    color: crimson;
    text-decoration: none;
    font-weight: 700;
}
footer span a:hover{
    text-decoration: underline;
}